@import './Price.scss';
.price {
    background-color: #ffffff; 
    padding: 20px;
    font-family: 'Arial', sans-serif;
  
    .price__container {
      margin: 0 auto;
      max-width: 900px;
      border: 1px solid #ccc; 
      padding: 20px;
      border-radius: 8px; 
  
      .price-title {
        font-size: 18px; 
        color: #333; 
        font-weight: bold; 
        margin-bottom: 10px; 
  
        ul {
          list-style-type: none;
          padding-left: 20px; 
          li {
            padding: 5px 0;
            border-bottom: 1px solid #eee; 
            &:last-child {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
  